* {
    margin: 0;
    padding: 0;
}

/* banner design */

.banner-container {
    display: flex;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.banner-info {
    margin-left: 200px;
}

.banner-title {
    width: 650px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.banner-text {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    background: #E55473;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-img {
    margin-right: 80px;
    padding-top: 40px;
}

/* featured design */

.featured-container {
    width: 80vh;
    margin: auto;

}

.featured-info {
    text-align: center;
    margin-bottom: 30px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.featured-img {
    display: flex;
    justify-content: center;
}

.featured-flower {
    width: 300px;
    height: 400px;
    padding-top: 50px;
}

.featured-photo1 {
    width: 370px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 20px;
}

.featured-photo2 {
    width: 370px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 20px;

}

.featured-photo3 {
    width: 370px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 20px;
}

.internal-featured {
    text-align: center;
    font-size: 20px;

}

.link {
    color: black;
    font-weight: 600;
}

/*service section design */

.service-container {
    display: flex;
    width: 1190px;
    height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    margin-top: 80px;
}

.service-img {
    text-align: center;
    font-size: 23px;
    padding-right: 90px;
}

.service-logo {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.service-text {
    margin-top: 10px;
}

/* discount section */

.discount-container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 110px;
    text-align: center;
    margin-top: 90px;
    height: 80vh;
}

span {
    color: red;
}

.discount-info {
    margin-left: 200px;
}

.discount-title {
    width: 650px;
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

span {
    color: red;
}

.discount-text {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.discount-btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    background: #E55473;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.discount-img {
    margin-right: 80px;
    padding-top: 40px;
}

/* instagram section design */
.instagram-container {
    width: 75%;
    margin: auto;
    text-align: center;

}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    margin-left: 390px;
    margin-bottom: 30px;

}

.instagram-photo {
    display: flex;
    gap: 20px;
}

.flowers {
    width: 300px;
    height: 370px;
}

/* latest deals part design */

.deals-container {
    background-image: url(../image/Rectangle\ 9.png);
    width: 1270px;
    height: 409px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-left: 190px;
}

.deal-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.email {
    width: 600px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #FFF;
    border: none;
}

.deals-btn {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E55473;
    border: none;
    margin-left: 10px;
}

/* footer section design */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 400px;
    margin-top: 100px;
}

.footer-title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
}

.footer-text {
    width: 600px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-ending {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

/* our difference design */
.difference-container {
    background-image: url(../image/flower-bg.jpg);
    height: 80vh;
    margin-top: 140px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.internal-container {
    background-color: rgb(238, 193, 203);
    border-radius: 5px;
    height: 80%;
    width: 1000px;
}

.difference-info {
    margin-bottom: 40px;
}

.difference-title {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.difference-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}


.frsh-flowers {
    background-color: #FFF;
    margin: 20px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.difference-photos {
    display: flex;
    margin-left: 70px;
}

.fresh-img {
    height: 60px;
    margin-top: 30px;
}
.flowers-title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}
.flower-info{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 240px;
}